<a href="https://colab.research.google.com/github/ighoere/Hamoyestagee1/blob/main/HDSC_Introduction_to_Python_for_machine_learning_StageA_assessment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Importing libraries

import pandas as pd
import numpy as np

In [ ]:
#Read data

df = pd.read_csv('/content/FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding='latin-1')
df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [ ]:
#question 1

In [ ]:
#question 2

In [ ]:
#question 3

In [ ]:
#question 4

In [ ]:
#question 5

In [ ]:
#question 6

In [ ]:
#question 7

In [ ]:
#question 8

In [ ]:
#question 9

In [ ]:
#question 10

In [ ]:
#question 11

In [ ]:
#question 12

In [ ]:
#question 13

In [ ]:
#question 14

In [ ]:
#question 15

In [ ]:
#question 16

In [ ]:
#question 17

In [ ]:
#question 18

In [ ]:
#question 19

In [ ]:
#question 20